language: python
before_install:
  - sudo apt-get install gnupg
python:
  - "2.7"
install:
  # Work around https://github.com/travis-ci/travis-ci/issues/1588
  - echo -e "Host *\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
  - git clone git@github.com:isislovecruft/python-gnupg.git
  - cd python-gnupg
  - git config --add remote.origin.fetch "+refs/pull/*/head:refs/remotes/origin/pr/*"
  - git fetch origin
  - git merge --log -m "" origin/pr/32
  - git merge --log -m "" origin/pr/33
  - git merge --log -m "" origin/pr/43
  - git merge --log -m "" origin/pr/45
  - python setup.py install
  - cd ..
  - pip install psutil
  - pip install nose
  - pip install coverage
  - python setup.py install
script:
  - nosetests --with-coverage --cover-package=kryptomime --cover-erase --exe -v -w kryptomime/tests
